@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900');
body,html{
    padding: 0;
    margin: 0;
    font-family: $default-font-family;
    font-size: $default-font-size;
    line-height: $default-line-height;
    color: $alternate-color;
    background: lighten($secondary-color, 10%);
}
.skArea{
    margin: $default-spacing 0;
    padding: $default-spacing*2;
    background: $default-color;
}