$default-spacing: 12px;
$default-font-family: Lato,'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$default-font-size: 14px;
$default-font-weight: normal;
$default-line-height: 20px;
$default-color: #fff;
$secondary-color: #dadada;
$alternate-color: #444444;
$primary-color: #4285f4;
$danger-color: #dc3545;
$success-color: #28a745;
$default-animation: all 0.3s;