<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Google style vue components demo</title>
    <meta name="description" content="vue-component docs">
    <meta name="author" content="Krunal Jariwala">
    <link rel="stylesheet" href="build/app.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/atom-one-light.min.css" />
</head>

<body id="demoApp">
<div id="app">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="skDemo">
                    <div class="row">
                            <div class="col-sm-4">
                                <g-checkbox v-model="checkboxExample" value="Milk" required validation-message="Milk is required!">Milk</g-checkbox>
                                <g-checkbox v-model="checkboxExample" value="Butter">Butter</g-checkbox>
                                <g-checkbox v-model="checkboxExample" value="Cheese">Cheese</g-checkbox>
                            </div>
                            <div class="col-sm-8">
                                <label>Checkbox value: {{checkboxExample}}</label>
                                <pre><code>&#x3C;g-checkbox v-model=&#x22;checkboxExample&#x22; value=&#x22;Milk&#x22; required validation-message=&#x22;Milk is required!&#x22;&#x3E;Milk&#x3C;/g-checkbox&#x3E;
&#x3C;g-checkbox v-model=&#x22;checkboxExample&#x22; value=&#x22;Butter&#x22;&#x3E;Butter&#x3C;/g-checkbox&#x3E;
&#x3C;g-checkbox v-model=&#x22;checkboxExample&#x22; value=&#x22;Cheese&#x22;&#x3E;Cheese&#x3C;/g-checkbox&#x3E;</code></pre>
                            </div>
                        </div>
                        <hr/>
                    <div class="row">
                        <div class="col-sm-4">
                            <label></label>
                            <g-input type="text" v-model="inputExample"></g-input>
                        </div>
                        <div class="col-sm-8">
                            <label>Input value: {{inputExample}}</label>
                            <pre><code>&#x3C;g-input type=&#x22;text&#x22; v-model=&#x22;inputExample&#x22;&#x3E;&#x3C;/g-input&#x3E;</code></pre>
                        </div>
                    </div>
                    <hr/>
                    <div class="row">
                        <div class="col-sm-4">
                            <g-input v-model="placeHolderExample" placeholder="Username"></g-input>
                        </div>
                        <div class="col-sm-8">
                            <label>Placeholder example</label>
                            <pre><code>&#x3C;g-input v-model=&#x22;placeHolderExample&#x22; placeholder=&#x22;Username&#x22;&#x3E;&#x3C;/g-input&#x3E;</code></pre>
                        </div>
                    </div>
                    <hr/>
                    <div class="row">
                        <div class="col-sm-4">
                            <g-input v-model="disableExample" placeholder="Username" disabled></g-input>
                        </div>
                        <div class="col-sm-8">
                            <label>Disable input example</label>
                            <pre><code>&#x3C;g-input v-model=&#x22;disableExample&#x22; placeholder=&#x22;Username&#x22; disabled&#x3E;&#x3C;/g-input&#x3E;</code></pre>
                        </div>
                    </div>
                    <hr/>
                    <div class="row">
                        <div class="col-sm-4">
                            <g-input v-model="ValidationExample" placeholder="Username" pattern="^[a-zA-Z0-9]{4,10}$" validation-message="No Special characters allow!"></g-input>
                        </div>
                        <div class="col-sm-8">
                            <label>Validation example with no special characters allow message</label>
                            <pre><code>&#x3C;g-input v-model=&#x22;ValidationExample&#x22; placeholder=&#x22;Username&#x22; pattern=&#x22;^[a-zA-Z0-9]{4,10}$&#x22; validation-message=&#x22;No Special characters allow!&#x22;&#x3E;&#x3C;/g-input&#x3E;</code></pre>
                        </div>
                    </div>
                    <hr/>
                    <div class="row">
                        <div class="col-sm-4">
                            <g-input v-model="changeEventExample" placeholder="Change Event" @change="this.changeEventExample = $event.target.value"></g-input>
                        </div>
                        <div class="col-sm-8">
                            <label>Change event output: {{changeEventExample}}</label>
                            <pre><code>&#x3C;g-input v-model=&#x22;changeEventExample&#x22; placeholder=&#x22;Change Event&#x22; @change=&#x22;this.changeEventExample = $event.target.value&#x22;&#x3E;&#x3C;/g-input&#x3E;</code></pre>
                        </div>
                    </div>
                </div>
                <footer class="text-center">
                    © <a href="https://github.com/toshalinfotech">Toshal Infotech</a> - <a href="https://github.com/toshalinfotech/vue-components">Code on Github</a>
                </footer>
            </div>
        </div>
    </div>
</div>

<script src="build/app.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.11.0/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
</body>
</html>